/* un body-background légèrement couleur chocolat */
body {
    background: #887255;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    /*font-size: 1.2em;*/
}

main {
    padding-inline: 30px;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 1.5em;    
  }

header {
    margin: -8px;
  }

footer {
    background-color: #4e3313;
    padding: 10px;
    padding-left: 30px;    
    margin-inline: -8px;
}

nav {
    background-color: #4e3313;
    padding: 1px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none; /* Retire les puces */
    padding-left: 0; /* Retire le padding par défaut à gauche */
    text-align: center; /* Centre les liens de la liste */
}

nav ul li {
    display: inline; /* Met les items de la liste en ligne */
    margin-right: 20px; /* Espace à droite de chaque item */
}

nav a {
    text-decoration: none; /* Retire le soulignement des liens */
    color: white; /* Couleur du texte des liens */
}

nav a:focus, nav a:hover {
    /*outline: 5px solid rgb(195, 159, 159);*/ /* Contour lors du focus ou du survol */
    background-color: #b46060;
    padding: 5px;
    border-radius: 5px;
}

.active {
    /*outline: 5px solid rgb(195, 159, 159);*/ /* Applique un contour lorsque le lien est "actif" */
    background-color: #c39f9f;
    padding: 5px;
    border-radius: 5px;
}

.banner {
    display: block;
    margin: 0 auto;
    height: 400px;
    background: #000;
    border-radius: 30px;
}

/* Point de rupture pour tablettes ou petits écrans */
@media (max-width: 768px) {
    .banner {
        height: 300px; /* Hauteur ajustée pour les petits écrans */
        border-radius: 20px; /* Rayon de bordure ajusté pour les petits écrans */
    }
    nav {
        font-size: 1.4em;
        line-height: 1.5em;    
    }
}

/* Point de rupture pour les smartphones */
@media (max-width: 600px) {
    .banner {
        height: 200px; /* Hauteur ajustée pour les écrans très petits */
        border-radius: 10px; /* Rayon de bordure ajusté pour les écrans très petits */
    }
    nav {
        font-size: 1.4em;
        line-height: 1.5em;    
    }
}

/* Point de rupture pour les écrans très grands */
@media (min-width: 2000px) {
    .banner {
        height: 500px; /* Hauteur ajustée pour les écrans très grands */
        border-radius: 40px; /* Rayon de bordure ajusté pour les écrans très grands */
    }
    nav {
        font-size: 1.4em;
        line-height: 1.5em;    
    }
}

h1 {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

a:focus {
    outline: 2px solid #c39f9f;
    /*font-size: 1.2em;*/
}

.skip-link {
    position: absolute;
    top: -80px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    z-index: 100; 
    transition: top 0.3s ease;
  }
  
  .skip-link:focus {
    top: 0;
  }